*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(211, 233, 250);
}

.header {
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url("kuliner\ header.jpg");
    color: #fff;
    text-align: center;
    padding: 100px 0;
    background-size: cover;
    background-position: center;
}


.header h3 {
    font-size: 70px;
    margin-bottom: 20px;
}

.header p {
    font-size: 20px;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #5f47ff;
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.feature {
    text-align: center;
    margin: 50px;
    padding: 60px;
    background-color:srgb(235, 235, 230);

}

.feature:hover{
    box-shadow: 0 0 10px rgb(45, 44, 44);  
}

.feature img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    float: left;
    overflow: hidden;
}

.feature h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.feature p {
    font-size: 20px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer a{
    text-decoration: none;
    color: white;
}

.footer a:hover{
    color: (66, 69, 69)
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: skyblue;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li {
    float: right;
}

li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:rgb(166, 221, 243);
}

.judul{
    text-align: center;
    text-decoration: none;
    margin-top: 12px;
    margin-right: 12px;
    margin-left: 12px;
    color: white;
    float: left;
    font-size: 18px;
}

.feature h2 a{
    text-decoration: underline overline;
    color: black;
}

.feature h2 a:hover{
    color: rgb(66, 69, 69);
}